rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /doccollection/{allPaths=**} {
      allow read, write;
    }
  }
}
